*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/**** CSS variables *****/
:root{
    --background-color-1: #034732;
    --background-color-2: #14213d;
    --background-color-3: #fca311;

    --color-1:#e5e5e5;
    --color-1-50-Op:#e5e5e550;
    --color-2:#eaeaea;
    --color-3:#c1292e;
}
/***********************/

/**** BASE STYLE*******/
html,body{
    height: 100vh;
    width: 100vw;

    background-color: var(--background-color-2);

    color: var(--color-1);
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 3em;
}

header{
    height: 15vh;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: var(--background-color-3) 0px 2px 4px 0px, var(--background-color-3) 0px 2px 6px 2px;

    background-color: var(--background-color-3);
}
/*********************/

/****LAYOUT STYLE***********/
.setUp-option{
    display: flex;
    gap: 2em;

}
.btn-setUp{
    outline: 0;
    border:0;
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    width: 4em;
    height: 2em;
   
    
    border: none;
    border-radius: 40px;

    cursor: pointer;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 0.75em;
    color: var(--background-color-2);

    background-color: var(--color-3);
    box-shadow:var(--color-1) 0px 0px 2px, var(--background-color-3) 0px 0px 0px 4px, var(--background-color-3) 0px 0px 2px 7px; 
}
.btn-solo-setUp{
    margin-top: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1em;
    
}
.grid-content{
    height: 25em;
    width: 25em;

    display: grid;
    grid-template-columns: repeat(3,1fr);

    box-shadow: var(--background-color-3) 0px 2px 4px 0px, var(--background-color-3) 0px 2px 6px 2px;

    background-color: var(--color-3);
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--background-color-2);
    font-size: 1.5em;  
}

.overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.result-display{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--color-1-50-Op);

    color: black;
    font-size: 5em;
    font-weight: 800;
}

/********************/

/****MODULE STYLE********/

/************************/

/*****STATE STYLE********/
.is-unclickable
{
    pointer-events: none;
}
.btn-setUp:hover
{
    transform: scale(1.05);
}
.not-active{
    display: none;
}
.add-focus{
    box-shadow:var(--color-2) 0px 0px 2px, var(--color-2) 0px 0px 0px 5px, var(--background-color-2) 0px 0px 2px 7px; 
}
/************************/


